.root {
  @import url('https://fonts.googleapis.com/css?family=Bellefair');
  &-wrap {
    $start-color:                  DarkMagenta;
    $darken-percentage:            10%;
    font-family: 'Bellefair', serif;
    background-color: #E4E4E4;
    padding: 15px;
    border-radius: 5px;
    list-style: none;
    a {
      text-transform: capitalize;
      line-height: 42px;
      font-size: 26px;
      color: $start-color;
      &:hover {
        text-decoration: none;
        color: darken($start-color, $darken-percentage);
      }
    }
  }
}