  <script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>
  <script type="text/javascript" src="js/jquery-migrate-1.4.1.min.js" ></script>
  <script type="text/javascript" src="js/slick.js" ></script>
  <!--
  <script type="text/javascript" src="js/components/jquery.fancybox.js" ></script>
  <script type="text/javascript" src="js/components/jquery.formstyler.js" ></script>
  <script type="text/javascript" src="js/components/slick.js" ></script>
  <script type="text/javascript" src="js/components/jquery.mCustomScrollbar.js" ></script>
  -->
  <script type="text/javascript" src="js/custom.js" ></script>
  <script type="text/javascript" src="js/_nav.js" ></script>
</body>
</html>