<nav class="nav nav__level">
  <div class="header__container clearfix">
    <ul class="nav__user">
      <li class="nav__cart">
        <a href="">
          <svg class="icon svg-cart-dims"><use xlink:href="icons/sprite.svg#cart"/></svg>
          <div class="nav__cart__count">10</div>
          <span>товаров <span class="nav__cart__sum">/ 56 789 р</span></span>
        </a>
      </li>
      <li>
        <svg class="icon svg-login-dims"><use xlink:href="icons/sprite.svg#login"/></svg>
        <span>войти</span>
      </li>
    </ul>
    <ul class="nav__content">
      <li class="nav__item toggle__item">
        <a href="#">
          <span class="nav__menu__toggle">
            <svg class="icon svg-menu-dims"><use xlink:href="icons/sprite.svg#menu"/></svg>
          </span>
          <span>каталог товаров</span>
          <svg class="icon svg-arrowUp-dims"><use xlink:href="icons/sprite.svg#arrowUp"/></svg>
        </a>
        <!--=include ./_nav__sub.html -->
      </li>
      <li class="nav__item"><a href="#">условия работы</a></li>
      <li class="nav__item"><a href="#">скидки</a></li>
      <li class="nav__item"><a href="#">оплата и доставка</a></li>
      <li class="nav__item"><a href="#">документы</a></li>
      <li class="nav__item"><a href="#">контакты</a></li>
    </ul>
  </div>
</nav>

