.nav {
  .header__container {
    border-top: solid 1px $border-color;
    border-bottom: solid 1px $border-color;
  }
  &__menu__toggle {
    .icon {
      font-size: 1.1em;
      margin-left: -2px;
      height: 16px;
      margin-right: 6px;
      vertical-align: -3px;
    }
  }
  &__content {
    float: left;
    width: 831px;
    padding-top: 19px;
    padding-bottom: 19px;
    a {
      color: $text-color;
    }
  }
  .icon {
    fill: $brand-color;
  }
  &__item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    &:hover {
      .svg-arrowUp-dims {
        transform: rotate(180deg);
        transition: transform .2s;
      }
    }
    a {
      padding-right: 19px;
    }
    > a,
    span {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
    }
    &__title {
      padding-left: 17px;
      padding-bottom: 6px;
      color: $brand-color;
      text-transform: uppercase;
    }
    &__sub {
      display: block;
      // height: 30px;
      margin-bottom: -7px;
      &:hover {
        >a {
          background-color: $border-color;
        }
      }
      a {
        position: relative;
        display: block;
        font-size: 15px;
        color: $grey-color;
        padding: 8px 31px 9px;
        line-height: 20px;
        &:before {
          content: '';
          border: solid 1px $brand-color;
          border-radius: 50%;
          width: 6px;
          height: 6px;
          position: absolute;
          left: 15px;
          top: 13px;
        }
      }
    }
  }
  &__sub {
    width: 245px;
    height: 0;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    transform-origin: 50% 0;
    transition: opacity 0.2s ease;
    z-index: 999;
    &_top {
      top: -100%;
      transition: top .2s ease-in-out;
    }
    &_left {
      z-index: -1;
      left: 0%;
      transition: left .2s ease-in-out;
    }
    &__content {
      height: 0;
      margin: 0;
      padding: 0;
      border-radius: 3px;
      border: solid 1px $border-color;
      box-shadow: 2px 2px 4px 0px rgba(0,0,0,.3);
      transform-origin: 50% 0;
      transition: opacity 0.2s ease;
      background-color: #fff;
    }
  }
  &__user {
    font-size: 16px;
    float: right;
    padding-top: 15px;
    text-transform: uppercase;
    li {
      list-style-type: none;
      display: inline-block;
      font-weight: 700;
    }
    span {
      vertical-align: 4px;
    }
    span,
    a {
      color: $link-color;
    }
    .svg-login-dims {
      margin-right: 2px;
      font-size: 1.4em;
      margin-left: 15px;
      vertical-align: -1px;
    }
    .icon {
      height: 1em;
    }
  }
  &__cart {
    font-size: 14px;
    .icon {
      font-size: 1.6em;
    }
    span {
      letter-spacing: .01em;
      vertical-align: 4px;
      .nav__cart__sum {
        font-size: 16px;
        vertical-align: 1px;
      }
    }
    &__count {
      width: 23px;
      height: 21px;
      border-radius: 50%;
      background-color: $brand-color;
      color: $base-bg;
      font-weight: bold;
      text-align: center;
      line-height: 21px;
      vertical-align: 6px;
      margin-right: 9px;
      margin-left: 9px;
      display: inline-block;
    }
  }
}
.toggle__item {
  &:hover {
    .nav__sub__content {
      height: auto;
    }
    >.nav__sub {
      left: 100%;
      margin: auto;
      height: auto;
      opacity: 1;
      pointer-events: auto;
      overflow: visible;
    }
    >.nav__sub_top {
      top: 0;
      left: -40px;
      margin: auto;
      height: auto;
      opacity: 1;
      pointer-events: auto;
      overflow: visible;
      padding-top: 44px;
      .nav__sub__content {
        padding: 13px 0 22px;
      }
      li {
        display: block;
      }
    }
    >.nav__sub_left {
      top: -11px;
      padding-left: 3px;
      .nav__sub__content {
        padding: 22px 0 21px;
      }
    }
  }
  .svg-arrowUp-dims {
    font-size: .8em;
    margin-left: 4px;
  }
  &.nav__item__sub {
    position: relative;
    .icon {
      font-size: .6em;
      display: inline-block;
      position: absolute;
      right: 15px;
      top: 7px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .toggle__item:hover > .nav__sub_top {
    left: -26px;
  }
  .nav__user {
    padding-bottom: 10px;
  }
  .nav {
    &__content {
      text-align: justify;
      &:after {
        display: inline-block;
        content: '';
        width: 100%;
        height: 0;
        line-height: 0;
        font-size: 0;
      }
      .nav__item {
        a {
          padding-right: 0;
        }
      }
    }
    .header__container {
      border-top: none;
    }
    &__content {
      width: auto;
      clear: both;
      float: none;
      border-top: solid 1px $border-color;
      margin: 0 -13px;
      padding-left: 13px;
      padding-right: 13px;
    }
  }
}
@media screen and (max-width: 991px) {
  
}