<ul class="nav__sub nav__sub_top">
  <li>
    <ul class="nav__sub__content">
      <li class="nav__item__sub toggle__item">
        <a href="#">Свадебная бижутерия</a>
        <svg class="icon svg-arrowRight-dims"><use xlink:href="icons/sprite.svg#arrowRight"/></svg>
        <!--=include ./_nav__sub_sub.html -->
      </li>
      <li class="nav__item__sub"><a href="#">Аксессуары для волос</a></li>
      <li class="nav__item__sub"><a href="#">Броши</a></li>
      <li class="nav__item__sub toggle__item">
        <a href="#">Мужские аксессуары</a>
        <svg class="icon svg-arrowRight-dims"><use xlink:href="icons/sprite.svg#arrowRight"/></svg>
        <!--=include ./_nav__sub_sub.html -->
      </li>
      <li class="nav__item__sub"><a href="#">Клатчи</a></li>
      <li class="nav__item__sub"><a href="#">Детская бижутерия</a></li>
      <li class="nav__item__sub"><a href="#">Демонстрационное оборудование</a></li>
    </ul>
  </li>
</ul>