<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
  <title>Главная</title>
  <!-- BASE STYLE -->
  <link rel="stylesheet" type="text/css" href="styles/style.css" />
  <!-- SLICK SLIDER DEFAULT STYLE -->
  <link rel="stylesheet" type="text/css" href="styles/slick.css" />
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic-ext" rel="stylesheet">
</head>
    <!--============================
    =            HEADER            =
    =============================-->
<header class="header">
  <div class="header__container clearfix">
    <div class="header__logo">
      <a href="">
        <svg class="icon logo svg-logo-dims"><use xlink:href="icons/spritec.svg#logo"/></svg>
        <span>Интернет-магазин «Благой арт»</span>
      </a>
    </div>
    <div class="header__contacts">
      <div class="header__contacts__tel">
        <a href="tel:+78007078139">+7 (800) 707-81-39</a>
      </div>
      <ul class="header__contacts__info list__reset">
        <li>ПН-ПТ с 9:00 до 18:00</li>
        <li>Доставка по РФ и СНГ</li>
      </ul>
    </div>
    <form class="header__search">
      <input type="text" name="" placeholder="Введите название или артикул">
      <button type="submit" class="btn-reset header__search__btn">
        <svg class="icon svg-search-dims"><use xlink:href="icons/sprite.svg#search"/></svg>
      </button>
    </form>
  </div>
</header>
<!--====  End of HEADER  ====-->
