.svg-Group-dims {
  width: 16px;
  height: 10px;
}
.svg-arrowLeft-dims {
  width: 10px;
  height: 17px;
}
.svg-arrowRight-dims {
  width: 10px;
  height: 17px;
}
.svg-arrowUp-dims {
  width: 16px;
  height: 10px;
}
.svg-cart-dims {
  width: 23px;
  height: 23px;
}
.svg-login-dims {
  width: 18px;
  height: 16px;
}
.svg-menu-dims {
  width: 18px;
  height: 11px;
}
.svg-search-dims {
  width: 18px;
  height: 18px;
}
.icon {
  width: 1em;
  display: inline-block;
  font-size: 1em;
  fill: currentColor;
}