<div class="clearfix"></div>
<div class="title">
  Mobile Menu with level sub menu
</div>
<div class="menu__level">
  <div class="menu__wrapper">
    <ul class="menu__content menu__level_animate">

    <!-- level1 menu1 -->
      <li class="menu__content__sub">

      <!-- level1 toggle level2 -->
        <div class="menu__sub__toggle">
        <!-- back to level1 -->
          <div class="menu__sub__back menu__level_animate">назад</div>
        <!-- END back to level1 -->
          level1menu1
        </div>
      <!-- END level1 toggle level2 -->

      <!-- level2 menu1 -->
        <ul class="menu__sub menu__sub_level menu__level_animate">

          <li>
          <!-- level2 toggle level3 -->
            <div class="menu__sub__toggle">
            <!-- back to level2 -->
              <div class="menu__sub__back menu__level_animate">назад</div>
            <!-- END back to level2 -->
              level2menu1
            </div>
          <!-- END level2 toggle level3 -->

          <!-- level3 menu1 -->
            <ul class="menu__sub menu__sub_level menu__level_animate">
              <li>
              <!-- level3 toggle level4 -->
                <div class="menu__sub__toggle">
                  <div class="menu__sub__back menu__level_animate">назад</div>
                  level3menu1
                </div>
              <!-- END level3 toggle level4 -->

              <!-- level4 menu1 -->
                <ul class="menu__sub menu__sub_level menu__level_animate">
                  <li>level4menu1</li>
                </ul>
              </li>
              <!-- END level4 menu1 -->
            </ul>
          <!-- END level3 menu1 -->
          </li>

          <li>
            <span>level2menu2</span>
          </li>
          <li>
            <span>level2menu3</span>
          </li>
        </ul>
      <!-- END level2 menu1 -->

      </li>
      <!-- END level1 menu1 -->

      <!-- level1 menu2 -->
      <li class="menu__content__sub">
        <div class="menu__sub__toggle">
          <div class="menu__sub__back menu__level_animate">назад</div>
          level1menu2
        </div>
        <ul class="menu__sub menu__sub_level menu__level_animate">
          <li>
            <span>level2menu1</span>
          </li>
          <li><span>level2menu2</span></li>
          <li><span>level2menu3</span></li>
        </ul>
      </li>

      <!-- level1 menu3 -->
      <li class="menu__content__sub">
        <div class="menu__sub__toggle">
          <div class="menu__sub__back menu__level_animate">назад</div>
          level1menu3
        </div>
        <ul class="menu__sub menu__sub_level menu__level_animate">
          <li>
            <span>level2menu1</span>
          </li>
          <li><span>level2menu2</span></li>
          <li><span>level2menu3</span></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="menu__shift menu__level_animate">
  <div id="menuToggleLevel" class="menu__toggle">
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem sunt fugiat minus, molestias nobis veniam error consectetur ipsa dolorum corporis quia sit explicabo sint nemo ipsam delectus quam non vero.  </p>
</div>